<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet', href="./css/style.css">
        <link rel="icon" href="/rain_rainy_weather_weather_forecast-512.png">
    </head>
    <body>
        {{title}}
        
        <h1>{{errorMsg}}</h1>
        {{>footer}}
    </body>
</html>