<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet', href="./css/style.css">
        <link rel="icon" href="/rain_rainy_weather_weather_forecast-512.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <img class="portrait" src="./snowflake_weather_app_icon.png">
        </div>    
        {{>footer}}
    </body>
</html>