<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/rain_rainy_weather_weather_forecast-512.png">
        <link rel='stylesheet' href="./css/style.css">
       
    </head>
    <body>
        {{>header}}
        <h1>{{title}} </h1>
        <form class="main-content"> 
            <input placeholder="location">
            <button>Submit</button>
            <p id="locationD"></p>
            <p id="forecast"></p>
        </form>
         
        {{>footer}}
        <script src='./js/app.js'></script>
    </body>
</html>